
:root {
    --primary: #06BBCC;
    --light: #F0FBFC;
    --dark: #181d38;
}
.container-fluid .background_img{
    background: rgba(50, 70, 80, 0.7);
    overflow: hidden;
    height: 100%; 
    /* width: 100vw; */
}
  
#bg-img{
    background: url("https://mdbootstrap.com/img/Photos/Others/images/76.jpg");   
    overflow: hidden;
    color: #FFFFFF;
    /* position: absolute; */
    background-size: cover;
    height: 400px;  
    /* width: 100vw; */
}


/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


.wow{
    cursor: default;
}


/**About**/

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
    padding-bottom: 0px;

}

.about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #5fcf80;
}
.about .content h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    padding-bottom: 10px;
  }
  .img-fluid {
    max-width: 106%;
    height: 80%;
}
  
  .about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #5fcf80;
  }
  
  .about .content .learn-more-btn {
    background: #5fcf80;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px 9px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
  }
  
  .about .content .learn-more-btn:hover {
    background: #3ac162;
    color: #fff;
  }
  

  