nav {
    box-shadow: 0 4px 10px -7px #777;
  }
  
  .logoimg{
    height: 40px;
  }
  
  .nav-link {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: 600;
  }
  
  .nav-link:hover {
    color:orange !important;
  }
  
  .active_class {
    color: orange !important;
  }

.dropdown-item.active, .dropdown-item:active {
    color: orange;
    text-decoration: none;
    background-color: rgb(194, 189, 180);
}

  @media all and (min-width: 992px) {
    .navbar .dropdown-menu-end{ right:0; left: auto;  }
    .navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
    .navbar .nav-item:hover .nav-link{ color:Orange;  }
    .navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
    .navbar .dropdown-menu.fade-up{ top:180%;  }
    .navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
  }	